body{
  background-color: yellow;
  text-align: center; 
  table-layout: fixed;
  text-decoration-color: blue;
  table-layout: 100%;
  color: black;
  text-shadow: blue;
  table-layout: center;
}
hr{
  border: 5px solid green;
  width: 10%;
  border-radius: 5px;

}
h3{
  color: skyblue;
}
